In [67]:
import pandas as pd
from unidecode import unidecode
import requests
from io import StringIO

In [69]:
url = 'https://fbref.com/en/comps/10/2023-2024/defense/2023-2024-Championship-Stats'
html_content = requests.get(url).text.replace('<!--', '').replace('-->', '')
df = pd.read_html(StringIO(html_content))

In [84]:
df[2].columns=df[2].columns.droplevel(0)

In [88]:
dfdata = df[2]

In [90]:
dfdata.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,...,Mid 3rd,Att 3rd,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches
0,1,Azeem Abdulai,sct SCO,"DF,FW",Swansea City,20,2002,1.5,6,4,...,2,1,4,0,4,4,10,6,0,Matches
1,2,Ken Aboh,eng ENG,MF,Norwich City,18,2004,0.1,1,1,...,0,0,0,0,0,0,1,0,0,Matches
2,3,Che Adams,sct SCO,FW,Southampton,27,1996,25.4,19,15,...,9,7,18,7,11,5,24,11,0,Matches
3,4,Ebou Adams,gm GAM,"MF,DF",Cardiff City,27,1996,3.4,16,12,...,4,1,3,0,3,5,21,18,0,Matches
4,5,Albert Adomah,gh GHA,"DF,FW",QPR,35,1987,4.1,20,9,...,7,3,5,0,5,3,23,8,0,Matches

In [92]:
len(dfdata[dfdata.Age=='Age'])

29

In [94]:
dfcreation=dfdata.drop(dfdata[dfdata.Age=='Age'].index)

In [96]:
dfcreation

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,...,Mid 3rd,Att 3rd,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches
0,1,Azeem Abdulai,sct SCO,"DF,FW",Swansea City,20,2002,1.5,6,4,...,2,1,4,0,4,4,10,6,0,Matches
1,2,Ken Aboh,eng ENG,MF,Norwich City,18,2004,0.1,1,1,...,0,0,0,0,0,0,1,0,0,Matches
2,3,Che Adams,sct SCO,FW,Southampton,27,1996,25.4,19,15,...,9,7,18,7,11,5,24,11,0,Matches
3,4,Ebou Adams,gm GAM,"MF,DF",Cardiff City,27,1996,3.4,16,12,...,4,1,3,0,3,5,21,18,0,Matches
4,5,Albert Adomah,gh GHA,"DF,FW",QPR,35,1987,4.1,20,9,...,7,3,5,0,5,3,23,8,0,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,731,Charlie Wyke,eng ENG,FW,Rotherham Utd,30,1992,5.1,4,4,...,3,1,3,0,3,0,4,6,0,Matches
760,732,Jerry Yates,eng ENG,FW,Swansea City,26,1996,25.4,13,10,...,6,4,22,3,19,3,16,9,0,Matches
761,733,Ephraim Yeboah,gh GHA,"FW,MF",Bristol City,17,2006,2.3,5,3,...,0,2,3,0,3,1,6,1,0,Matches
762,734,Okay YokuÅŸlu,tr TUR,MF,West Brom,29,1994,35.8,66,43,...,35,6,31,15,16,48,114,74,2,Matches
763,735,Anass Zaroury,ma MAR,"FW,MF",Hull City,22,2000,7.7,12,7,...,2,5,18,1,17,5,17,5,0,Matches

In [98]:
dfcreation.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Tkl',
       'TklW', 'Def 3rd', 'Mid 3rd', 'Att 3rd', 'Blocks', 'Sh', 'Pass', 'Int',
       'Tkl+Int', 'Clr', 'Err', 'Matches'],
      dtype='object')

In [114]:
df_after_column_removal=dfcreation.drop(columns=['Sh', 'Pass', 'Err', 'Matches'])

In [118]:
df_after_column_removal['90s'] = df_after_column_removal['90s'].astype(float)
df_after_column_removal['Tkl'] = df_after_column_removal['Tkl'].astype(float)
df_after_column_removal['TklW'] = df_after_column_removal['TklW'].astype(float)
df_after_column_removal['Def 3rd'] = df_after_column_removal['Def 3rd'].astype(float)
df_after_column_removal['Mid 3rd'] = df_after_column_removal['Mid 3rd'].astype(float)
df_after_column_removal['Att 3rd'] = df_after_column_removal['Att 3rd'].astype(float)
df_after_column_removal['Blocks'] = df_after_column_removal['Blocks'].astype(float)
df_after_column_removal['Int'] = df_after_column_removal['Int'].astype(float)
df_after_column_removal['Tkl+Int'] = df_after_column_removal['Tkl+Int'].astype(float)
df_after_column_removal['Clr'] = df_after_column_removal['Clr'].astype(float)

In [196]:
df_after_column_removal.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Blocks,Int,Tkl+Int,Clr
0,1,Azeem Abdulai,sct SCO,"DF,FW",Swansea City,20,2002,1.5,4.000000,2.666667,2.000000,1.333333,0.666667,2.666667,2.666667,6.666667,4.000000
1,2,Ken Aboh,eng ENG,MF,Norwich City,18,2004,0.1,10.000000,10.000000,10.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000
2,3,Che Adams,sct SCO,FW,Southampton,27,1996,25.4,0.748031,0.590551,0.118110,0.354331,0.275591,0.708661,0.196850,0.944882,0.433071
3,4,Ebou Adams,gm GAM,"MF,DF",Cardiff City,27,1996,3.4,4.705882,3.529412,3.235294,1.176471,0.294118,0.882353,1.470588,6.176471,5.294118
4,5,Albert Adomah,gh GHA,"DF,FW",QPR,35,1987,4.1,4.878049,2.195122,2.439024,1.707317,0.731707,1.219512,0.731707,5.609756,1.951220

In [198]:
finaldf = df_after_column_removal

In [128]:
finaldf['Tkl']=finaldf['Tkl']/finaldf['90s']
finaldf['TklW']=finaldf['TklW']/finaldf['90s']
finaldf['Def 3rd']=finaldf['Def 3rd']/finaldf['90s']
finaldf['Mid 3rd']=finaldf['Mid 3rd']/finaldf['90s']
finaldf['Att 3rd']=finaldf['Att 3rd']/finaldf['90s']
finaldf['Blocks']=finaldf['Blocks']/finaldf['90s']
finaldf['Int']=finaldf['Int']/finaldf['90s']
finaldf['Tkl+Int']=finaldf['Tkl+Int']/finaldf['90s']
finaldf['Clr']=finaldf['Clr']/finaldf['90s']

In [200]:
finaldf.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Blocks,Int,Tkl+Int,Clr
0,1,Azeem Abdulai,sct SCO,"DF,FW",Swansea City,20,2002,1.5,4.000000,2.666667,2.000000,1.333333,0.666667,2.666667,2.666667,6.666667,4.000000
1,2,Ken Aboh,eng ENG,MF,Norwich City,18,2004,0.1,10.000000,10.000000,10.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000
2,3,Che Adams,sct SCO,FW,Southampton,27,1996,25.4,0.748031,0.590551,0.118110,0.354331,0.275591,0.708661,0.196850,0.944882,0.433071
3,4,Ebou Adams,gm GAM,"MF,DF",Cardiff City,27,1996,3.4,4.705882,3.529412,3.235294,1.176471,0.294118,0.882353,1.470588,6.176471,5.294118
4,5,Albert Adomah,gh GHA,"DF,FW",QPR,35,1987,4.1,4.878049,2.195122,2.439024,1.707317,0.731707,1.219512,0.731707,5.609756,1.951220

In [202]:
finaldf['Player']=finaldf['Player'].apply(unidecode)

In [204]:
finaldf['Squad']=finaldf['Squad'].apply(unidecode)

In [206]:
finaldf.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Blocks,Int,Tkl+Int,Clr
0,1,Azeem Abdulai,sct SCO,"DF,FW",Swansea City,20,2002,1.5,4.000000,2.666667,2.000000,1.333333,0.666667,2.666667,2.666667,6.666667,4.000000
1,2,Ken Aboh,eng ENG,MF,Norwich City,18,2004,0.1,10.000000,10.000000,10.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000
2,3,Che Adams,sct SCO,FW,Southampton,27,1996,25.4,0.748031,0.590551,0.118110,0.354331,0.275591,0.708661,0.196850,0.944882,0.433071
3,4,Ebou Adams,gm GAM,"MF,DF",Cardiff City,27,1996,3.4,4.705882,3.529412,3.235294,1.176471,0.294118,0.882353,1.470588,6.176471,5.294118
4,5,Albert Adomah,gh GHA,"DF,FW",QPR,35,1987,4.1,4.878049,2.195122,2.439024,1.707317,0.731707,1.219512,0.731707,5.609756,1.951220

In [208]:
finaldf = finaldf[finaldf['Pos'] == 'DF']

In [210]:
finaldf.loc[:, 'Age'] = pd.to_numeric(finaldf['Age'])

In [212]:
finaldf1 = finaldf[finaldf['Age'] <= 23]

In [214]:
finaldf1

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Blocks,Int,Tkl+Int,Clr
5,6,Emanuel Aiwum,at AUT,DF,Birmingham City,22.0,2000,21.6,2.083333,1.250000,1.203704,0.787037,0.092593,2.037037,0.925926,3.009259,3.935185
10,11,Ajibola Alese,eng ENG,DF,Sunderland,22.0,2001,5.1,1.960784,1.764706,1.176471,0.588235,0.196078,1.372549,1.176471,3.137255,2.549020
50,50,Daniel Ballard,nir NIR,DF,Sunderland,23.0,1999,42.6,1.173709,0.798122,0.798122,0.375587,0.000000,1.361502,0.821596,1.995305,4.272300
67,66,Di'Shon Bernard,jm JAM,DF,Sheffield Weds,22.0,2000,30.3,1.584158,1.122112,1.056106,0.462046,0.066007,1.617162,1.122112,2.706271,3.234323
68,67,Kian Best,eng ENG,DF,Preston,17.0,2005,7.7,2.467532,1.168831,0.779221,1.298701,0.389610,1.558442,0.649351,3.116883,0.519481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,665,Nectarios Triantis,au AUS,DF,Sunderland,20.0,2003,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.000000,7.000000
724,698,Jaden Warner,eng ENG,DF,Norwich City,20.0,2002,1.7,0.588235,0.000000,0.588235,0.000000,0.000000,1.176471,1.176471,1.764706,4.117647
741,714,Brandon Williams,eng ENG,DF,Ipswich Town,22.0,2000,8.9,3.146067,2.359551,2.022472,1.011236,0.112360,0.786517,1.573034,4.719101,1.797753
744,717,Ben Wilmot,eng ENG,DF,Stoke City,23.0,1999,22.7,0.792952,0.484581,0.660793,0.044053,0.088106,1.145374,1.365639,2.158590,3.259912
751,724,Nathan Wood-Gordon,eng ENG,DF,Swansea City,21.0,2002,23.4,1.025641,0.512821,0.555556,0.470085,0.000000,1.153846,0.854701,1.880342,2.991453

In [218]:
finaldf1.to_excel(r'E:\finaldf1.xlsx', index=False)

In [222]:
Eng = (finaldf1['Nation'] == 'eng ENG')
finaldf1.loc[Eng, 'Nation'] = 'England'

Aut = (finaldf1['Nation'] == 'at AUT')
finaldf1.loc[Aut, 'Nation'] = 'Austria'

Nir = (finaldf1['Nation'] == 'nir NIR')
finaldf1.loc[Nir, 'Nation'] = 'Northern Ireland'

Jam = (finaldf1['Nation'] == 'jm JAM')
finaldf1.loc[Jam, 'Nation'] = 'Jamaica'

Wal = (finaldf1['Nation'] == 'wls WAL')
finaldf1.loc[Wal, 'Nation'] = 'Wales'

Ned = (finaldf1['Nation'] == 'nl NED')
finaldf1.loc[Ned, 'Nation'] = 'Netherlands'

Nor = (finaldf1['Nation'] == 'no NOR')
finaldf1.loc[Nor, 'Nation'] = 'Norway'

Can = (finaldf1['Nation'] == 'ca CAN')
finaldf1.loc[Can, 'Nation'] = 'Canada'

Irl = (finaldf1['Nation'] == 'ie IRL')
finaldf1.loc[Irl, 'Nation'] = 'Ireland'

Sco = (finaldf1['Nation'] == 'sct SCO')
finaldf1.loc[Sco, 'Nation'] = 'Scotland'

Aus = (finaldf1['Nation'] == 'au AUS')
finaldf1.loc[Aus, 'Nation'] = 'Australia'

In [224]:
finaldf1

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Blocks,Int,Tkl+Int,Clr
5,6,Emanuel Aiwum,Austria,DF,Birmingham City,22.0,2000,21.6,2.083333,1.250000,1.203704,0.787037,0.092593,2.037037,0.925926,3.009259,3.935185
10,11,Ajibola Alese,England,DF,Sunderland,22.0,2001,5.1,1.960784,1.764706,1.176471,0.588235,0.196078,1.372549,1.176471,3.137255,2.549020
50,50,Daniel Ballard,Northern Ireland,DF,Sunderland,23.0,1999,42.6,1.173709,0.798122,0.798122,0.375587,0.000000,1.361502,0.821596,1.995305,4.272300
67,66,Di'Shon Bernard,Jamaica,DF,Sheffield Weds,22.0,2000,30.3,1.584158,1.122112,1.056106,0.462046,0.066007,1.617162,1.122112,2.706271,3.234323
68,67,Kian Best,England,DF,Preston,17.0,2005,7.7,2.467532,1.168831,0.779221,1.298701,0.389610,1.558442,0.649351,3.116883,0.519481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,665,Nectarios Triantis,Australia,DF,Sunderland,20.0,2003,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.000000,7.000000
724,698,Jaden Warner,England,DF,Norwich City,20.0,2002,1.7,0.588235,0.000000,0.588235,0.000000,0.000000,1.176471,1.176471,1.764706,4.117647
741,714,Brandon Williams,England,DF,Ipswich Town,22.0,2000,8.9,3.146067,2.359551,2.022472,1.011236,0.112360,0.786517,1.573034,4.719101,1.797753
744,717,Ben Wilmot,England,DF,Stoke City,23.0,1999,22.7,0.792952,0.484581,0.660793,0.044053,0.088106,1.145374,1.365639,2.158590,3.259912
751,724,Nathan Wood-Gordon,England,DF,Swansea City,21.0,2002,23.4,1.025641,0.512821,0.555556,0.470085,0.000000,1.153846,0.854701,1.880342,2.991453

In [226]:
finaldf1 = finaldf1.drop(columns=['Rk'])

# Add a new 'SN' column with numbering starting from 1
finaldf1.insert(0, 'SN', range(1, len(finaldf1) + 1))

In [228]:
finaldf1

,SN,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Blocks,Int,Tkl+Int,Clr
5,1,Emanuel Aiwum,Austria,DF,Birmingham City,22.0,2000,21.6,2.083333,1.250000,1.203704,0.787037,0.092593,2.037037,0.925926,3.009259,3.935185
10,2,Ajibola Alese,England,DF,Sunderland,22.0,2001,5.1,1.960784,1.764706,1.176471,0.588235,0.196078,1.372549,1.176471,3.137255,2.549020
50,3,Daniel Ballard,Northern Ireland,DF,Sunderland,23.0,1999,42.6,1.173709,0.798122,0.798122,0.375587,0.000000,1.361502,0.821596,1.995305,4.272300
67,4,Di'Shon Bernard,Jamaica,DF,Sheffield Weds,22.0,2000,30.3,1.584158,1.122112,1.056106,0.462046,0.066007,1.617162,1.122112,2.706271,3.234323
68,5,Kian Best,England,DF,Preston,17.0,2005,7.7,2.467532,1.168831,0.779221,1.298701,0.389610,1.558442,0.649351,3.116883,0.519481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,68,Nectarios Triantis,Australia,DF,Sunderland,20.0,2003,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.000000,7.000000
724,69,Jaden Warner,England,DF,Norwich City,20.0,2002,1.7,0.588235,0.000000,0.588235,0.000000,0.000000,1.176471,1.176471,1.764706,4.117647
741,70,Brandon Williams,England,DF,Ipswich Town,22.0,2000,8.9,3.146067,2.359551,2.022472,1.011236,0.112360,0.786517,1.573034,4.719101,1.797753
744,71,Ben Wilmot,England,DF,Stoke City,23.0,1999,22.7,0.792952,0.484581,0.660793,0.044053,0.088106,1.145374,1.365639,2.158590,3.259912
751,72,Nathan Wood-Gordon,England,DF,Swansea City,21.0,2002,23.4,1.025641,0.512821,0.555556,0.470085,0.000000,1.153846,0.854701,1.880342,2.991453

In [230]:
finaldata = finaldf1

In [232]:
finaldata.to_excel(r'E:\finaldata.xlsx', index=False)

In [244]:
finaldata = finaldata[finaldf1['90s'] >= 10.0]

In [246]:
finaldata

,SN,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Blocks,Int,Tkl+Int,Clr
5,1,Emanuel Aiwum,Austria,DF,Birmingham City,22.0,2000,21.6,2.083333,1.250000,1.203704,0.787037,0.092593,2.037037,0.925926,3.009259,3.935185
50,3,Daniel Ballard,Northern Ireland,DF,Sunderland,23.0,1999,42.6,1.173709,0.798122,0.798122,0.375587,0.000000,1.361502,0.821596,1.995305,4.272300
67,4,Di'Shon Bernard,Jamaica,DF,Sheffield Weds,22.0,2000,30.3,1.584158,1.122112,1.056106,0.462046,0.066007,1.617162,1.122112,2.706271,3.234323
72,6,Luis Binks,England,DF,Coventry City,21.0,2001,14.8,1.756757,1.013514,0.945946,0.743243,0.067568,0.878378,1.283784,3.040541,4.527027
92,7,Lee Buchanan,England,DF,Birmingham City,22.0,2001,30.3,2.574257,1.782178,1.353135,0.891089,0.330033,1.881188,1.584158,4.158416,4.158416
106,8,Ben Cabango,Wales,DF,Swansea City,23.0,2000,32.1,1.557632,0.965732,1.121495,0.404984,0.031153,1.028037,1.214953,2.772586,4.766355
113,9,Hayden Carter,England,DF,Blackburn,23.0,1999,28.4,1.725352,1.091549,1.056338,0.633803,0.035211,1.795775,1.338028,3.063380,3.591549
128,12,Harry Clarke,England,DF,Ipswich Town,22.0,2001,26.2,1.412214,0.954198,0.610687,0.572519,0.229008,1.412214,0.954198,2.366412,2.290076
162,15,Harry Darling,England,DF,Swansea City,23.0,1999,32.9,1.124620,0.577508,0.547112,0.547112,0.030395,1.398176,1.094225,2.218845,3.069909
166,16,Leif Davis,England,DF,Ipswich Town,23.0,2000,42.0,1.809524,1.357143,1.023810,0.619048,0.166667,1.047619,1.071429,2.880952,1.571429
172,17,Rav van den Berg,Netherlands,DF,Middlesbrough,19.0,2004,32.1,1.370717,0.872274,0.747664,0.560748,0.062305,0.778816,1.277259,2.647975,3.489097
193,18,Callum Doyle,England,DF,Leicester City,19.0,2003,13.4,3.059701,2.164179,1.268657,1.567164,0.223881,1.567164,1.119403,4.179104,2.761194
197,20,Cody Drameh,England,DF,Birmingham City,21.0,2001,25.1,3.187251,2.191235,1.992032,0.916335,0.278884,1.952191,0.956175,4.143426,3.665339
226,24,Milan van Ewijk,Netherlands,DF,Coventry City,22.0,2000,34.4,2.587209,1.860465,1.395349,0.901163,0.290698,1.133721,1.482558,4.069767,1.976744
266,28,Lewis Gibson,England,DF,Plymouth Argyle,23.0,2000,39.7,1.309824,0.881612,1.007557,0.277078,0.025189,1.914358,0.831234,2.141058,5.062972
269,30,Ryan Giles,England,DF,Hull City,23.0,2000,12.0,0.916667,0.583333,0.666667,0.250000,0.000000,1.000000,1.083333,2.000000,2.833333
271,31,Brodie Gilmore,Northern Ireland,DF,Huddersfield,19.0,2004,17.0,2.647059,2.000000,1.352941,0.882353,0.411765,2.000000,1.294118,3.941176,2.823529
283,32,Jacob Greaves,England,DF,Hull City,22.0,2000,43.0,1.767442,1.232558,0.930233,0.767442,0.069767,1.279070,1.023256,2.790698,4.604651
308,34,Taylor Harwood-Bellis,England,DF,Southampton,21.0,2002,38.9,0.796915,0.334190,0.514139,0.205656,0.077121,1.208226,1.208226,2.005141,3.444730
321,35,James Hill,England,DF,Blackburn,21.0,2002,14.4,2.291667,1.458333,1.319444,0.833333,0.138889,1.180556,2.013889,4.305556,4.375000
326,36,Ki-Jana Hoever,Netherlands,DF,Stoke City,21.0,2002,34.1,2.697947,1.906158,1.466276,0.909091,0.322581,0.762463,2.052786,4.750733,2.463343
338,37,Niall Huggins,Wales,DF,Sunderland,22.0,2000,14.8,1.824324,0.878378,1.013514,0.540541,0.270270,1.013514,1.486486,3.310811,2.297297
341,38,Trai Hume,Northern Ireland,DF,Sunderland,21.0,2002,45.2,3.362832,2.146018,1.615044,1.504425,0.243363,1.725664,1.415929,4.778761,2.212389
342,39,Bashir Humphreys,England,DF,Swansea City,20.0,2003,21.0,1.047619,0.809524,0.666667,0.285714,0.095238,1.333333,1.000000,2.047619,3.523810
396,42,Liam Kitching,England,DF,Coventry City,23.0,1999,24.8,1.290323,0.645161,0.927419,0.322581,0.040323,1.209677,1.411290,2.701613,4.032258
405,44,Ethan Laird,England,DF,Birmingham City,22.0,2001,22.2,3.063063,1.846847,1.621622,0.990991,0.450450,1.576577,1.801802,4.864865,2.522523
413,45,Dexter Lembikisa,Jamaica,DF,Rotherham Utd,19.0,2003,22.3,2.511211,1.659193,1.659193,0.582960,0.269058,1.524664,1.076233,3.587444,2.511211
427,46,Emmanuel Longelo,England,DF,Birmingham City,22.0,2000,11.3,2.300885,1.504425,1.504425,0.530973,0.265487,1.769912,1.061947,3.362832,2.831858
454,47,Sam McCallum,England,DF,Norwich City,22.0,2000,16.4,1.951220,1.341463,1.341463,0.609756,0.000000,1.036585,2.743902,4.695122,3.780488
463,48,Mark McGuinness,Ireland,DF,Cardiff City,22.0,2001,28.8,1.076389,0.659722,0.833333,0.243056,0.000000,0.972222,1.319444,2.395833,4.270833
468,49,Luke McNally,Ireland,DF,Stoke City,23.0,1999,35.5,1.915493,1.352113,1.154930,0.704225,0.056338,1.464789,1.323944,3.239437,5.211268
500,52,Jeremy Ngakia,England,DF,Watford,22.0,2000,10.2,2.254902,1.666667,1.274510,0.784314,0.196078,1.568627,1.274510,3.529412,1.274510
541,56,Ashley Phillips,Wales,DF,Plymouth Argyle,18.0,2005,15.4,1.298701,0.584416,0.779221,0.519481,0.000000,1.493506,1.038961,2.337662,4.740260
554,57,Matthew Pollock,England,DF,Watford,21.0,2001,10.7,2.149533,1.028037,1.401869,0.747664,0.000000,1.962617,1.401869,3.551402,6.635514
576,59,Seb Revan,England,DF,Rotherham Utd,20.0,2003,30.4,2.039474,1.217105,1.447368,0.460526,0.131579,1.644737,0.986842,3.026316,3.059211
583,60,Haydon Roberts,England,DF,Bristol City,21.0,2002,13.9,1.151079,0.647482,0.287770,0.791367,0.071942,1.151079,0.863309,2.014388,2.158273
605,61,Dion Sanderson,England,DF,Birmingham City,23.0,1999,36.7,0.980926,0.653951,0.681199,0.245232,0.054496,1.171662,1.362398,2.343324,3.433243
617,62,Jenson Seelt,Netherlands,DF,Sunderland,20.0,2003,11.5,2.782609,1.478261,1.565217,0.869565,0.347826,1.391304,1.304348,4.086957,1.913043
659,64,Pascal Struijk,Netherlands,DF,Leeds United,23.0,1999,22.1,1.402715,0.995475,0.678733,0.633484,0.090498,1.085973,0.859729,2.262443,3.303167
669,65,George Tanner,England,DF,Bristol City,23.0,1999,33.7,2.373887,1.454006,1.602374,0.652819,0.118694,1.068249,0.949555,3.323442,3.115727
744,71,Ben Wilmot,England,DF,Stoke City,23.0,1999,22.7,0.792952,0.484581,0.660793,0.044053,0.088106,1.145374,1.365639,2.158590,3.259912
751,72,Nathan Wood-Gordon,England,DF,Swansea City,21.0,2002,23.4,1.025641,0.512821,0.555556,0.470085,0.000000,1.153846,0.854701,1.880342,2.991453

In [250]:
finaldata2 = finaldata1

In [252]:
finaldata2.to_excel(r'E:\finaldata2.xlsx', index=False)

In [254]:
finaldata2 = finaldata2.drop(columns=['SN'])

# Add a new 'SN' column with numbering starting from 1
finaldata2.insert(0, 'S.N', range(1, len(finaldata2) + 1))

In [256]:
finaldata2

,S.N,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Blocks,Int,Tkl+Int,Clr
5,1,Emanuel Aiwum,Austria,DF,Birmingham City,22.0,2000,21.6,2.083333,1.250000,1.203704,0.787037,0.092593,2.037037,0.925926,3.009259,3.935185
50,2,Daniel Ballard,Northern Ireland,DF,Sunderland,23.0,1999,42.6,1.173709,0.798122,0.798122,0.375587,0.000000,1.361502,0.821596,1.995305,4.272300
67,3,Di'Shon Bernard,Jamaica,DF,Sheffield Weds,22.0,2000,30.3,1.584158,1.122112,1.056106,0.462046,0.066007,1.617162,1.122112,2.706271,3.234323
72,4,Luis Binks,England,DF,Coventry City,21.0,2001,14.8,1.756757,1.013514,0.945946,0.743243,0.067568,0.878378,1.283784,3.040541,4.527027
92,5,Lee Buchanan,England,DF,Birmingham City,22.0,2001,30.3,2.574257,1.782178,1.353135,0.891089,0.330033,1.881188,1.584158,4.158416,4.158416
106,6,Ben Cabango,Wales,DF,Swansea City,23.0,2000,32.1,1.557632,0.965732,1.121495,0.404984,0.031153,1.028037,1.214953,2.772586,4.766355
113,7,Hayden Carter,England,DF,Blackburn,23.0,1999,28.4,1.725352,1.091549,1.056338,0.633803,0.035211,1.795775,1.338028,3.063380,3.591549
128,8,Harry Clarke,England,DF,Ipswich Town,22.0,2001,26.2,1.412214,0.954198,0.610687,0.572519,0.229008,1.412214,0.954198,2.366412,2.290076
162,9,Harry Darling,England,DF,Swansea City,23.0,1999,32.9,1.124620,0.577508,0.547112,0.547112,0.030395,1.398176,1.094225,2.218845,3.069909
166,10,Leif Davis,England,DF,Ipswich Town,23.0,2000,42.0,1.809524,1.357143,1.023810,0.619048,0.166667,1.047619,1.071429,2.880952,1.571429
172,11,Rav van den Berg,Netherlands,DF,Middlesbrough,19.0,2004,32.1,1.370717,0.872274,0.747664,0.560748,0.062305,0.778816,1.277259,2.647975,3.489097
193,12,Callum Doyle,England,DF,Leicester City,19.0,2003,13.4,3.059701,2.164179,1.268657,1.567164,0.223881,1.567164,1.119403,4.179104,2.761194
197,13,Cody Drameh,England,DF,Birmingham City,21.0,2001,25.1,3.187251,2.191235,1.992032,0.916335,0.278884,1.952191,0.956175,4.143426,3.665339
226,14,Milan van Ewijk,Netherlands,DF,Coventry City,22.0,2000,34.4,2.587209,1.860465,1.395349,0.901163,0.290698,1.133721,1.482558,4.069767,1.976744
266,15,Lewis Gibson,England,DF,Plymouth Argyle,23.0,2000,39.7,1.309824,0.881612,1.007557,0.277078,0.025189,1.914358,0.831234,2.141058,5.062972
269,16,Ryan Giles,England,DF,Hull City,23.0,2000,12.0,0.916667,0.583333,0.666667,0.250000,0.000000,1.000000,1.083333,2.000000,2.833333
271,17,Brodie Gilmore,Northern Ireland,DF,Huddersfield,19.0,2004,17.0,2.647059,2.000000,1.352941,0.882353,0.411765,2.000000,1.294118,3.941176,2.823529
283,18,Jacob Greaves,England,DF,Hull City,22.0,2000,43.0,1.767442,1.232558,0.930233,0.767442,0.069767,1.279070,1.023256,2.790698,4.604651
308,19,Taylor Harwood-Bellis,England,DF,Southampton,21.0,2002,38.9,0.796915,0.334190,0.514139,0.205656,0.077121,1.208226,1.208226,2.005141,3.444730
321,20,James Hill,England,DF,Blackburn,21.0,2002,14.4,2.291667,1.458333,1.319444,0.833333,0.138889,1.180556,2.013889,4.305556,4.375000
326,21,Ki-Jana Hoever,Netherlands,DF,Stoke City,21.0,2002,34.1,2.697947,1.906158,1.466276,0.909091,0.322581,0.762463,2.052786,4.750733,2.463343
338,22,Niall Huggins,Wales,DF,Sunderland,22.0,2000,14.8,1.824324,0.878378,1.013514,0.540541,0.270270,1.013514,1.486486,3.310811,2.297297
341,23,Trai Hume,Northern Ireland,DF,Sunderland,21.0,2002,45.2,3.362832,2.146018,1.615044,1.504425,0.243363,1.725664,1.415929,4.778761,2.212389
342,24,Bashir Humphreys,England,DF,Swansea City,20.0,2003,21.0,1.047619,0.809524,0.666667,0.285714,0.095238,1.333333,1.000000,2.047619,3.523810
396,25,Liam Kitching,England,DF,Coventry City,23.0,1999,24.8,1.290323,0.645161,0.927419,0.322581,0.040323,1.209677,1.411290,2.701613,4.032258
405,26,Ethan Laird,England,DF,Birmingham City,22.0,2001,22.2,3.063063,1.846847,1.621622,0.990991,0.450450,1.576577,1.801802,4.864865,2.522523
413,27,Dexter Lembikisa,Jamaica,DF,Rotherham Utd,19.0,2003,22.3,2.511211,1.659193,1.659193,0.582960,0.269058,1.524664,1.076233,3.587444,2.511211
427,28,Emmanuel Longelo,England,DF,Birmingham City,22.0,2000,11.3,2.300885,1.504425,1.504425,0.530973,0.265487,1.769912,1.061947,3.362832,2.831858
454,29,Sam McCallum,England,DF,Norwich City,22.0,2000,16.4,1.951220,1.341463,1.341463,0.609756,0.000000,1.036585,2.743902,4.695122,3.780488
463,30,Mark McGuinness,Ireland,DF,Cardiff City,22.0,2001,28.8,1.076389,0.659722,0.833333,0.243056,0.000000,0.972222,1.319444,2.395833,4.270833
468,31,Luke McNally,Ireland,DF,Stoke City,23.0,1999,35.5,1.915493,1.352113,1.154930,0.704225,0.056338,1.464789,1.323944,3.239437,5.211268
500,32,Jeremy Ngakia,England,DF,Watford,22.0,2000,10.2,2.254902,1.666667,1.274510,0.784314,0.196078,1.568627,1.274510,3.529412,1.274510
541,33,Ashley Phillips,Wales,DF,Plymouth Argyle,18.0,2005,15.4,1.298701,0.584416,0.779221,0.519481,0.000000,1.493506,1.038961,2.337662,4.740260
554,34,Matthew Pollock,England,DF,Watford,21.0,2001,10.7,2.149533,1.028037,1.401869,0.747664,0.000000,1.962617,1.401869,3.551402,6.635514
576,35,Seb Revan,England,DF,Rotherham Utd,20.0,2003,30.4,2.039474,1.217105,1.447368,0.460526,0.131579,1.644737,0.986842,3.026316,3.059211
583,36,Haydon Roberts,England,DF,Bristol City,21.0,2002,13.9,1.151079,0.647482,0.287770,0.791367,0.071942,1.151079,0.863309,2.014388,2.158273
605,37,Dion Sanderson,England,DF,Birmingham City,23.0,1999,36.7,0.980926,0.653951,0.681199,0.245232,0.054496,1.171662,1.362398,2.343324,3.433243
617,38,Jenson Seelt,Netherlands,DF,Sunderland,20.0,2003,11.5,2.782609,1.478261,1.565217,0.869565,0.347826,1.391304,1.304348,4.086957,1.913043
659,39,Pascal Struijk,Netherlands,DF,Leeds United,23.0,1999,22.1,1.402715,0.995475,0.678733,0.633484,0.090498,1.085973,0.859729,2.262443,3.303167
669,40,George Tanner,England,DF,Bristol City,23.0,1999,33.7,2.373887,1.454006,1.602374,0.652819,0.118694,1.068249,0.949555,3.323442,3.115727
744,41,Ben Wilmot,England,DF,Stoke City,23.0,1999,22.7,0.792952,0.484581,0.660793,0.044053,0.088106,1.145374,1.365639,2.158590,3.259912
751,42,Nathan Wood-Gordon,England,DF,Swansea City,21.0,2002,23.4,1.025641,0.512821,0.555556,0.470085,0.000000,1.153846,0.854701,1.880342,2.991453